body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark blue background */
    color: white; /* Set text color to white */
}

.tabs {
    background-color: #333;
    display: flex;
}

.tab-btn {
    padding: 15px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1;
    background-color: #001f3f; /* Dark blue tab color */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease;
}

.tab-btn:hover {
    background-color: #003366; /* Slightly lighter blue on hover */
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
}

.product {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Same as width for a square shape */
    background-color: #001f3f; /* Dark blue product background */
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    color: white; /* Set text color to white */
}

.product:hover {
    background-color: #003366; /* Slightly lighter blue on hover */
}

.download-btn {
    padding: 10px;
    background-color: #4CAF50; /* Green download button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}
